header{
text-align:  center;
height: 150px;
background-color: whitesmoke;
font-size: 100px;
color: red;

}

body{
    background-color:whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 24px;
    color:rgb(8, 8, 8);

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: khaki;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(12, 3, 3);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  li a:hover {
    background-color: whitesmoke;
  }
  .active {
    background-color: rgb(148, 67, 64);
  }
  footer{
    text-align:  center;
    height: 150px;
    background-color: whitesmoke;
    font-size: 40px;
    color: red;
    

  }
 .box{
float: left;
width: 200px;
height: 500x;
margin: 10px;
background-color: khaki;
min-height: 10px;

 }
